# Python cache
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
venv/
.venv/
env/

# Testes
.pytest_cache/
.coverage
htmlcov/

# IDEs / Editores
.vscode/
.idea/

# Sistema operacional
.DS_Store

# Logs
*.log